@tailwind base;
@tailwind components;
@tailwind utilities;

.menuUl li {
  position: relative;
  list-style: none;
  padding: 10px;
}

.menuUl li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #daf985;
  transition: width 0.4s ease;
}

.menuUl li:hover::before {
  width: 100%;
}

.sidemenu a.active {
  border-bottom: 2px solid #daf985;
}

.swal-button {
  padding: 7px 20px;
  border-radius: 2px;
  background-color: #4962b3;
  font-size: 14px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-text {
  text-align: center;
  font-size: 16px;
  padding: 0 10px;
}


.custom-file-input {
  position: relative;
  display: inline-block;
}

.file-input {
  font-size: 10px;
  position: absolute;
  left: 0;
  top: 0;
 
}